<div id="javascript-info" class="hidden" data-eventid=<%=@event.id%> data-hash-tags=<%= @event.hash_tag %>>0</div>
<div class="nav second" id="second">
  <h2><%= @event.title %></h2>
  <ul>
    <li>
    <strong>At:</strong>
    <%= @event.location %>
    </li>
    <li>
    <strong>On:</strong>
    <%= "#{@event.date}" %>
    </li>
    <li>
    <strong>tracked tags:</strong>
    <%= @event.hash_tag %>
    </li>
    <li>
    <%= link_to "edit", "/events/#{@event.id}/edit" %>
    </li>
  </ul>
</div>
<div id="nav-case"></div>
<div id="container">
  <div id="tabs" class="event-items">
    <ul>
      <li><a href="#tabs-1">Instagram</a></li>
      <li><a href="#tabs-2">Tweet</a></li>
    </ul>
    <div id="tabs-1">
      <div class="instagram">
        <div class="insta image">
          <img src="/convert/?image_url=http://distilleryimage1.s3.amazonaws.com/7481d2b64b2311e3842c12103ab7ffe2_8.jpg">
        </div>
        <div class="insta-extras">
          <p>comments go here</p>
        </div>
      </div>
    </div>
    <div id="tabs-2">
      <div class="tweet-container"><span class="tweet-text">what What WHAT TAWH tawH tahw #partytagworkweek</span><span class="tweet-author">CooperMayne</span></div>
      <div class="tweet-container"><span class="tweet-text">what? he let me write this! i could have written anything... #partytagworkweek</span><span class="tweet-author">boygirlboigrrrl</span></div>
      <div class="tweet-container"><span class="tweet-text">another big test #partytagworkweek</span><span class="tweet-author">CooperMayne</span></div>
      <div class="tweet-container"><span class="tweet-text">test #partytagworkweek</span><span class="tweet-author">CooperMayne</span></div>
    </div>

  </div>
  <div id="canvas"> 
    <%= @canvas_content.html_safe %>
  </div>
  <%= javascript "scrapbooks.js", "dynamic-canvas.js", "palette.js", "html2canvas.js" %>
</div>
