<div id="nav-case"></div>
<%= form_for @event  do |t| %>
  <%= t.label "Event Name" %>
  <%= t.text_field "title", value: @event.title %><br>
  <%= t.label "Event Location" %>
  <%= t.text_field "location", value: @event.location %><br>
  <%= t.label "Event Date" %>
  <%= t.text_field "date", value: @event.date, type: "date" %><br>
  <%= label_tag "Hash tags to track, separated by commas" %>
  <%= text_field_tag "tags", @tags.map { |tag| tag.tag_name  }.join(", ") %><br>
  <%= t.submit %>
<% end%>
