<div id="nav-case"></div>

<section class="event-form">
  <%= form_for @event  do |t| %>

    <%= t.text_field "title", value: @event.title, placeholder: "Event Name"%><br>

    <%= t.text_field "hash_tag", value: @event.hash_tag, placeholder: "Event HashTag (without the #)" %><br>
    <%= t.submit %>
  <% end%>

    <%= button_to "Delete Event", @event, :method => :delete %>

  <div id="notice">

  </div>

</section>
  <%= javascript "event-form.js" %>
