<div class="nav second">
  <h2><%= @event.title %></h2>
  <ul>
    <li><strong>At:</strong> <%= @event.location %></li>
    <li><strong>On:</strong> <%= "#{@event.date}" %></li>
    <li id="tags"><strong>tracked tags:</strong>
    <%= @event.hash_tags.map  { |hash| "##{hash.tag_name}"}.join(", ") %></li>
    <li><%= link_to "edit", "/events/#{@event.id}/edit" %></li>
  </ul>
</div>
<div class="event-items">
  <div id="tabs">
    <li><a href="#tabs-1">Instagram</a></li>
    <li><a href="#tabs-2">Tweet</a></li>
    <div id="tabs-1">


    </div>

    <div id="tabs-2">

      <div class="tweet-container"><span class="tweet-text">what What WHAT TAWH tawH tahw #partytagworkweek</span><br/><span class="tweet-author">CooperMayne</span></div>
      <div class="tweet-container"><span class="tweet-text">what? he let me write this! i could have written anything... #partytagworkweek</span><br/><span class="tweet-author">boygirlboigrrrl</span></div>
      <div class="tweet-container"><span class="tweet-text">another big test #partytagworkweek</span><br/><span class="tweet-author">CooperMayne</span></div>
      <div class="tweet-container"><span class="tweet-text">test #partytagworkweek</span><br/><span class="tweet-author">CooperMayne</span></div>

    </div>

  </div>
</div>
<div class="no-books">
  <div class="event-info">
    <div class="scrapbooks">
      <h2>Scrapbooks for this event</h2>
      <% @event.scrapbooks.each do |book| %>
      <%= link_to book.name, "/scrapbooks/#{book.id}" %>
      <% end%>
    </div>
  </div>
  <div id="canvas">
    Drag an element here to begin a new page
  </div>
</div>

