
<div id="javascript-info" class="hidden"
data-userid=<%= @current_user_id %>
data-eventid=<%=@event.id%>
data-hash-tags=<%= @event.hash_tag %>></div>

<div id="nav-case"></div>
<div id="container">
  <div id="tabs">
    <div id="buttons">
      <ul>
        <div id="save-button">
          <div id="saved">Successfully Saved!</div>
          <div id="button"><a>Save This Collage</a></div>
        </div>
        <li><a href="#tabs-1">Instagrams</a></li>
        <li><a href="#tabs-2">Tweets</a></li>
        <li><a href="#tabs-3">Palettes</a></li>
      </ul>
      <a href=<%= "/events/#{@event.id}/edit" %>><strong>tracked tag:</strong></a>
      <%= @event.hash_tag %>
    </div>
    <div id="tab-clear"></div>
    <div id="tabs-div">
      <div id="tabs-1">
      </div>
      <div id="tabs-2">
      </div>
      <div id="tabs-3">
        <div id="cork" class="cork palette">&nbsp;</div>
        <div id="wood" class="wood palette">&nbsp;</div>
        <div id="cross" class="cross palette">&nbsp;</div>
        <div id='white' class="white palette">&nbsp;</div>
        <div id='crazy' class="crazy palette">&nbsp;</div>
      </div>
    </div>
  </div>
  <div>
    <div id="canvas-container">
      <div id="canvas"></div>
    </div>
  </div>
  <%= javascript "events.js", "dynamic-canvas.js", "palette.js", "html2canvas.js" %>
</div>
