<div class="nav second" id="second">
  <div id="javascript-info" class="hidden"
    data-userid=<%= @current_user_id %>
    data-eventid=<%=@event.id%>
    data-hash-tags=<%= @event.hash_tag %>></div>
  <h2><%= @event.title %></h2>
  <ul>
    <li>
      <strong>At:</strong>
      <%= @event.location %>
    </li>
    <li>
      <strong>On:</strong>
      <%= "#{@event.date}" %>
    </li>
    <li>
      <strong>tracked tags:</strong>
      <%= @event.hash_tag %>
    </li>
    <li>
      <%= link_to "edit", "/events/#{@event.id}/edit" %>
    </li>
  </ul>
</div>
<div id="nav-case"></div>
<div id="container" class = "no-books">
  <div id="tabs" class="no-books">
    <div id="button-div" class="hidden">
      <%= text_field_tag "scrap-name", nil, placeholder: "Name this collage"%>
      <%= submit_tag "save", id: "save-button" %>
    </div>
    <ul>
      <li><a href="#tabs-1">Instagrams</a></li>
      <li><a href="#tabs-2">Tweets</a></li>
      <li><a href="#tabs-3">Palettes</a></li>
    </ul>
    <div id="tabs-1">
    </div>
    <div id="tabs-2">
    </div>
    <div id="tabs-3">
      <div class="flatwhite palette" id="flatwhite">Flat White</div>
      <div id="lightblue" class="lightblue palette">Light Blue</div>
      <div class="palette">Original</div>
    </div>
  </div>
  <div class="no-books">
    <div class="scrapbooks">
      <h2>Scrapbooks for this event</h2>
        <li><%= link_to "first scrap book", "/scrapbooks/1" %></li>
      <% @event.scrapbooks.each do |book| %>
      <li><%= link_to book.name, "/scrapbooks/#{book.id}" %></li>
      <% end%>
    </div>
    <div id="canvas-container">
      <div id="canvas"> drag here to create a new scrap book</div>
    </div>
  </div>
  <%= javascript "events.js", "dynamic-canvas.js", "palette.js", "html2canvas.js" %>
</div>
