<table>
  <tr>
    <td class="event-items">
      <div >
        this is where the instagram and twitter stuff will go
      </div>
    </td>
    <td class="no-books">
    <div class="event-info">
      <h1><%= @event.title %></h1>
      <strong>At:</strong> <%= @event.location %><br>
      <strong>On:</strong> <%= "#{@event.date}" %><br>
      <strong>tracked tags:</strong>
      <%= @event.hash_tags.map  { |hash| "##{hash.tag_name}"}.join(", ") %><br>
      <%= link_to "edit", "/events/#{@event.id}/edit" %>
    </div>
    <div class="scrapbooks">
      <h2>Scrapbooks for this event</h2>
      <% @event.scrapbooks.each do |book| %>
      <%= link_to book.name, "/scrapbooks/#{book.id}" %>
      <% end%>
    </div>

    <div class="canvas">
      Drag an element here to begin a new page
    </div>
    </td>
  </tr>
</table>
