<div class="nav second" id="second">
  <div id="javascript-info" class="hidden" 
    data-userid=4
    data-eventid=<%=@event.id%>
    data-hash-tags=<%= @event.hash_tags.first.tag_name %>></div>
  <h2><%= @event.title %></h2>
  <ul>
    <li>
      <strong>At:</strong>
      <%= @event.location %>
    </li>
    <li>
      <strong>On:</strong>
      <%= "#{@event.date}" %>
    </li>
    <li>
      <strong>tracked tags:</strong>
      <%= @event.hash_tags.map  { |hash| "#{hash.tag_name}"}.join(", ") %>
    </li>
    <li>
      <%= link_to "edit", "/events/#{@event.id}/edit" %>
    </li>
  </ul>
</div>
<div id="nav-case"></div>
<div id="container" class = "no-books">
  <div id="tabs" class="no-books">
    <ul>
      <li><a href="#tabs-1">Instagram</a></li>
      <li><a href="#tabs-2">Tweet</a></li>
    </ul>
    <div id="tabs-1">
    </div>
    <div id="tabs-2">
    </div>
  </div>
  <div class="no-books">
    <div class="scrapbooks">
      <h2>Scrapbooks for this event</h2>
        <li><%= link_to "first scrap book", "/scrapbooks/1" %></li>
      <% @event.scrapbooks.each do |book| %>
      <li><%= link_to book.name, "/scrapbooks/#{book.id}" %></li>
      <% end%>
    </div>
    <div id="canvas"> drag here to create a new scrap book</div>
  </div>
  <%= javascript "events.js", "dynamic-canvas.js", "palette.js", "html2canvas.js" %>
</div>
