<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
  <title>ThePartyTag</title>
  <% if @scrapbook %>
    <meta property="fb:app_id" content="522181411222799"/>
    <meta property="og:title" content=<%= @scrapbook.event.title %>/>
    <meta property="og:site_name" content="Party Tag"/>
    <meta property="og:description" content="I just made a scrapbook!"/>
  <% end %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav" id="nav">
    <a href="/"><h2>The Party Tag</h2></a>
    <% if @event && @event.id  %>
    <h2 class="second"><%= link_to @event.title, "/events/#{@event.id}/edit" %></h2>
    <% end %>
    <ul>
     <% if current_user %>
     <li><%= link_to "Create Event", "/" %></li>
     <li><%= link_to "Log Out", "/signout" %></li>
     <% else %>
     <li><%= link_to "Log In", "/login" %></li>
     <% end %>
   </ul>
 </div>

 <%= yield %>

</body>
</html>
